/* header */
header {
  position: static;
  top: 0;
  z-index: 0;
}

.navar--mobile {
  display: none;
}

.navar--desktop {
  display: block;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  height: 70px;
}

.red_container {
  display: flex;
  height: auto;
  padding-right: 2rem;
}

.red_container > .contenido {
  display: flex;
  align-items: flex-end;
  margin: 0 1rem;
}

.contenido img {
  width: 5.1rem;
  height: 6rem;
}

.contenido {
  transition: all ease-in-out 0.5s;
}

.contenido:hover {
  transform: scale(1.2);
  transform-origin: bottom;
  transition: all ease-in-out 0.2s;
}

.contenido:hover .share_link {
  display: block;
}

.contenido:hover div {
  display: block;
}

.contenido > .share_link {
  margin: 0 1rem 0 0.5rem;
  position: absolute;
  top: 65px;
  right: 0;
  text-align: end;
  justify-items: flex-end;
  display: none;
  padding: 5px;
  background: var(--fonts-color-black);
  border-radius: 9px;
  z-index: 1;
}

.contenido > div {
  width: 20px;
  height: 20px;
  background: var(--fonts-color-black);
  rotate: 50deg;
  position: absolute;
  top: 60px;
  right: 20px;
  display: none;
}
/* main */
main {
  margin: 0 4rem;
}
.full_container_blog {
  grid-template-rows: minmax(335px, 494px) minmax(100px, 1fr);
}
.container_text--blog h1 {
  font-size: var(--desktop-titles-bold-size);
}
.container_text--blog p {
  font-size: var(--desktop-texts-size);
  line-height: var(--desktop-texts-height);
}
/* footer */
.footer_img {
  width: 51px;
  height: 56px;
}

.footer_text {
  font-size: 21px;
}
