/* header */
header {
  position: static;
  top: 0;
  z-index: 0;
}

.navar--mobile {
  display: none;
}

.navar--desktop {
  display: block;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  height: 70px;
}

.red_container {
  display: flex;
  height: auto;
  padding-right: 2rem;
}

.red_container > .contenido {
  display: flex;
  align-items: flex-end;
  margin: 0 1rem;
}

.contenido img {
  width: 5.1rem;
  height: 6rem;
}

.contenido {
  transition: all ease-in-out 0.5s;
}

.contenido:hover {
  transform: scale(1.2);
  transform-origin: bottom;
  transition: all ease-in-out 0.2s;
}

.contenido:hover .share_link {
  display: block;
}

.contenido:hover div {
  display: block;
}

.contenido > .share_link {
  margin: 0 1rem 0 0.5rem;
  position: absolute;
  top: 65px;
  right: 0;
  text-align: end;
  justify-items: flex-end;
  display: none;
  padding: 5px;
  background: var(--fonts-color-black);
  border-radius: 9px;
  z-index: 1;
}

.contenido > div {
  width: 20px;
  height: 20px;
  background: var(--fonts-color-black);
  rotate: 50deg;
  position: absolute;
  top: 60px;
  right: 20px;
  display: none;
}
/* main */
main {
  margin: 0 4rem;
}
.blog_principal {
  grid-template-columns: minmax(335px, 682px) minmax(335px, 559px);
  grid-template-rows: minmax(22px, 412px);
}
.title_blog--principal {
  font-size: var(--desktop-titles-bold-size);
  text-align: start;
}
.text_blog--principal {
  font-size: var(--desktop-texts-size);
  font-weight: var(--texts-weight);
  line-height: var(--desktop-texts-height);
  overflow: hidden;
}
.blogs_container h1 {
  font-size: var(--desktop-titles-bold-size);
}
.button_blog--principal {
  width: 15.4rem;
  height: 5.1rem;
  transition: 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96) all;
}
.button_blog--principal a {
  font-size: 2.2rem;
}
.button_blog--principal:hover {
  background: var(--fonts-color);
  border: 1px solid var(--boton-color);
}

.button_blog--principal:hover a {
  color: var(--boton-color);
}

.card {
  height: 346.61px;
}
.card .content_text {
  height: 84.37px;
}
.card .content_text h3 {
  padding-top: 1.2rem;
  font-size: var(--desktop-titles-size);
}
.card:hover .content_text h3 {
  padding-top: 0;
}
.card .content_text p {
  font-size: var(--desktop-texts-size);
  line-height: var(--desktop-texts-height);
}
.card .content_text .button_leer {
  width: 15.4rem;
  height: 5.1rem;
}
.content_text .button_leer a {
  font-size: 2.2rem;
}
.container_button:hover .button_leer {
  background: var(--fonts-color);
  border: 1px solid var(--boton-color);
  transition: 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96) all;
}

.container_button:hover .button_leer a {
  color: var(--boton-color);
}
/* footer */
.footer_img {
  width: 51px;
  height: 56px;
}
.footer_text {
  font-size: 21px;
}
