.container_cards {
  grid-template-columns: repeat(auto-fit, minmax(33.3rem, 41.6rem));
  grid-auto-rows: minmax(27.4rem, 31.7rem);
  column-gap: 2rem;
}

.contact_title-cards .titles--card {
  font-size: var(--titles-desktop);
}

.card_blog .container_text--cards {
  top: 239px;
}

.hashtag,
.buttom_leer--cards,
.fecha--cards {
  font-size: var(--texts-desktop);
}

.container_text--cards .texts_description--cards {
  font-size: var(--texts-desktop);
  line-height: var(--desktop-texts-height);
}
