main {
    background: var(--background-main-color);
    padding: 1rem 2rem;
}
.container_blog--principal{
    margin-bottom: 3rem;
}
.container_img--principal{
    margin-bottom: 1.6rem;
    position: relative;
}
.container_blog--img{
    position: relative;
    z-index: 1;
}
.container_img--principal .brillo_top{
    width: 22.7rem;
        height: 24.6rem;
        border-radius: 100%;
        background: radial-gradient(50% 50% at 50% 50%,
                rgba(255, 230, 0, 0.46) 0%,
                rgba(245, 70, 1, 0.28) 53.12%,
                rgba(255, 0, 0, 0) 100%);
        position: absolute;
        top: -12rem;
        right: -2rem;
        pointer-events: none;
}
.container_img--principal .brillo_bottom{
    width: 22.7rem;
        height: 24.6rem;
        border-radius: 100%;
        background: radial-gradient(50% 50% at 50% 50%,
                rgba(255, 230, 0, 0.46) 0%,
                rgba(245, 70, 1, 0.28) 53.12%,
                rgba(255, 0, 0, 0) 100%);
        position: absolute;
        bottom: -12rem;
        left: -11rem;
        pointer-events: none;
}
.container_blog--text{
    display: grid;
}
.title_blog--principal{
    text-align: center;
    margin-bottom: 13px;
    font-size: var(--iphone-titles-bold-size);
    font-weight: var(--titles-bold-weight);
    font-family: var(--titles-font-family);
}
.text_blog--principal{
    margin-bottom: 13px;
    font-size: var(--iphone-texts-size);
    font-weight: var(--texts-weight);
    line-height: var(--iphone-texts-height);
    font-family: var(--texts-font-family);
    line-break: auto;
}
.container_description{
    display: flex;
    justify-content: space-between;
}
.fecha_blog--principal{
    font-size: var(--iphone-texts-size);
    font-weight: var(--texts-weight);
    font-family: var(--texts-font-family);
}
.buttom_leer{
    font-size: var(--iphone-texts-size);
    font-weight: var(--titles-weight);
    font-family: var(--texts-font-family);
    background: var(--fonts-radial);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container_blogs{
    display: grid;
    justify-items: center;
    margin-bottom: 2rem;
}

.container_blogs > h1{
    text-align: center;
    margin: 2rem 0;
    font-size: var(--iphone-titles-bold-size);
    font-weight: var(--titles-bold-weight);
    font-family: var(--titles-font-family);
}



.container_cards--blogs{
    display: grid;
    row-gap: 2rem;
}