.container_img--background {
  max-width: 124.4rem;
  max-height: 32.1rem;
  margin: 2rem auto 6rem;
}
.title_front {
  font-size: var(--titles-desktop);
  padding: 0 20rem;
}

.container--blogs .brillo-left {
  top: -8rem;
  left: -2rem;
}
