@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Oswald:wght@400;700&family=Roboto&display=swap");
:root {
  --white-bone-200: #f6fcfd;
  --blue-night-low-500: rgba(8, 11, 20, 0.49);
  --blue-night-300: #0f172a;
  --noble-black-500: #1d1e1f;
  --sun-red-400: #e44104;
  --neon-green-300: #78dd1e;
  --purple-300: #9959ee;
  --sky-cyan-300: #08a7a8;
  --sunGlow-sunRed-400g1: linear-gradient(180deg, #edd600 0%, #e44104 100%);
  /* variables text */
  --unic-font-family: "Carter One", cursive;
  --titles-font-family: "Oswald", sans-serif;
  --texts-font-family: "Roboto", sans-serif;
  --regular: 400;
  --bold: 700;
  --extraBold: 800;
  --titles-iphone: 20px;
  --subtitles-iphone: 18px;
  --texts-iphone: 16px;
  --texts-height-iphone: 24px;
  --titles-desktop: 28px;
  --subtitles-desktop: 24px;
  --texts-desktop: 18px;
  --texts-height-desktop: 28px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  color: var(--white-bone-200);
}
main {
  background: var(--blue-night-300);
}
a {
  text-decoration: none;
  display: inline;
  color: black;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #3d3d3d;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f5af19, #f12711);
  border-radius: 3rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #bd4103;
}
